* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app--heading {
  text-align: center;
}

.form--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form--todo {
  display: flex;
  flex-direction: column;
}

#title {
  padding: 0.5rem;
  margin: 1rem;
}

#description {
  padding: 1rem;
  margin: 1rem;
}

#todo--button {
  margin: 1rem;
}
